<mat-toolbar>
  <a [routerLink]="['/']"> <button mat-button >Home</button></a>
  <span class="fill-remaining-space"></span>

  <a [routerLink]="['/contact-us']"> <button mat-button >Contact Us</button></a>
  <a [routerLink]="['/about-us']"> <button mat-button >About Us</button></a>
  <a [routerLink]="['/messages']"> <button mat-button >F.A.Q</button></a>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>


  <thor-authentication></thor-authentication>

</mat-toolbar>



