<mat-toolbar>
  <button mat-button >Home</button>

  <span class="fill-remaining-space"></span>
  <button mat-button >About Us</button>
  <button mat-button >Contact Us</button>
  <button mat-button >F.A.Q</button>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <button mat-button >Login</button>
  <button mat-button >Sign In</button>

  <!--<button mat-button [matMenuTriggerFor]="menu2">Profile</button>-->
  <!--<mat-menu #menu2="matMenu">-->
    <!--<button mat-menu-item>History</button>-->
    <!--<button mat-menu-item>Logout</button>-->
  <!--</mat-menu>-->
</mat-toolbar>



